body{
  font-family: 'Lato', sans-serif;
}

.dmRespColsWrapper {
  display: flex;
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

*.dmBody div.u_1175729417 {
  background-repeat: no-repeat !important;
  background-image: url(https://le-cdn.website-editor.net/s/c495c73…/dms3rep/multi/opt/pattern_ZwekF9xiQ7m3eHVssIu0-392x265-2880w.png) !important;
  background-size: cover !important;
}

*.dmBody div.u_1175729417 {
  float: none !important;
  top: 0 !important;
  left: 0 !important;
  width: auto !important;
  position: relative !important;
  height: auto !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  max-width: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-right: 0 !important;
  min-width: 0 !important;
  text-align: center !important;
  background-position: 50% 50% !important;
}

.dmRespRow .dmRespColsWrapper {
  display: flex;
}

.stores_container {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.store_heading{
  margin: 0 auto;
  width: 100%;
 text-align: center;
 margin-top: 2rem;
}
.store_links {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}
.store_link {
  width: 120px;
}
.store_link:hover{
cursor: pointer;
}
.dmRespDesignRow,
.dmRespRow,
.dmRespRow .dmRespColsWrapper {
  /* max-width: 960px; */
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 14px 0;
  margin-top: 50px;
}

.imageWidget {
  padding-top: 2rem;
  min-width: 25px !important;
  text-align: center !important;
  margin-left: -68px !important;
  height: auto !important;
  width: 255px;
}
.imageWidget img {
  max-width: 395px;
  width: 100%;
  height: 100%;
}
div.u_1175729417:before {
  opacity: 0.9 !important;
  background-image: linear-gradient(
    90deg,
    rgba(222, 97, 97, 1) 0,
    rgba(38, 87, 235, 1) 100%
  ) !important;
}

div.u_1175729417:before {
  background-image: linear-gradient(
    90deg,
    rgba(222, 97, 97, 1) 0,
    rgba(38, 87, 235, 1) 100%
  ) !important;
}

.comming_soon_container {
  opacity: 0.9 !important;
  background-image: linear-gradient(
    90deg,
    rgba(222, 97, 97, 1) 0,
    rgba(38, 87, 235, 1) 100%
  ) !important;
}

.dmRespCol {
  margin: 0 auto;
}
.counterTitle{
  padding-left: 1.2rem;
}
.dmCountdown .container {
  display: flex;
  width: 100%;
  height: auto;
  color: white;
}

.dmCountdown .countdown {
  padding-top: 2px;
  padding-inline-end: 2px;
  padding-bottom: 2px;
  padding-inline-start: 2px;
}
.dmCountdown {
  float: none !important;
  top: 0 !important;
  left: 0 !important;
  width: calc(100% - 188px) !important;
  position: relative !important;
  height: auto !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  margin-right: 196.5px !important;
  margin-left: 188px !important;
  max-width: 567px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-right: 0 !important;
  min-width: 25px !important;
  text-align: center !important;
}
.dmCountdown .countdown {
  padding-top: 2px;
  padding-inline-end: 2px;
  padding-bottom: 2px;
  padding-inline-start: 2px;
}
.dmCountdown .tile {
  position: relative;
  line-height: normal;
  flex: 1;
}
.number {
  font-size: 45px !important;
  color: rgba(147, 38, 235, 1);
  background-color: rgba(255, 255, 255, 0.81);
  background-image: initial;
  -webkit-border-radius: 50%;
}
.dmCountdown .label,
.dmCountdown .number {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}
.divider.visible {
  visibility: hidden !important;
}
.dmCountdown .label-tile {
  position: relative;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  height: 100%;
}
.product_list {
  display: flex;
  justify-content: center;
  gap: 15px;
  row-gap: 20px;
}
.email {
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.product_heading {
  text-align: center;
  padding-left: 28px;
}

@media (max-width: 768px) {
  .store_links {
    width: 100%;
  }
  .store_links {
    padding-left: 2rem;
    gap: 10px;
  }
}
