* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}
.header_container{
  width: 100%;
  padding: 1rem;
}
.align-center{
  display: flex;
  justify-content: center;
}

.imageWidget {
  padding-top: 2rem;
  min-width: 150px !important;
  max-width: 200px;
  width: 100%;
}

.stores_container {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 1rem 0;
}

.store_heading{
  width: 100%;
 text-align: center;
 padding: 20px .5rem 0;

}

.store_links {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  padding: 20px;
}

.store_link {
  width: 115px;
}

figcaption{
  visibility: hidden;
}

.store_link:hover{
cursor: pointer;
}

.stores_container {
  width: 100%;
  margin: 0 auto;
}


/* comming soon container */
.comming_soon_container {
 width: 100%;
  opacity: 0.9;
  background-image: linear-gradient(
    90deg,
    rgba(222, 97, 97, 1) 0,
    rgba(38, 87, 235, 1) 100%
  );
}
.dmRespRow .dmRespColsWrapper {
  /* display: flex; */
}

.dmRespCol {
  margin: 0 auto;
}
.u_1244941485{
  padding: 2rem 0 0;
}
.para{
  font-size: 20px;
}

div.u_1175729417:before {
  opacity: 0.9 !important;
  background-image: linear-gradient(
    90deg,
    rgba(222, 97, 97, 1) 0,
    rgba(38, 87, 235, 1) 100%
  ) !important;
}
.commingSoonHeading {
  font-size: 2.5rem;
}
.dmRespCol {
  margin: 0 auto;
}

.dmCountdown .container {
  display: flex;
  width: 100%;
  height: auto;
  color: white;
  gap: 10px;
}

.dmCountdown {
  max-width: 560px !important;
  margin: 0 auto;
  padding: 1rem 1rem;
}

/* .dmCountdown .countdown {
  padding-top: 2px;
  padding-inline-end: 2px;
  padding-bottom: 2px;
  padding-inline-start: 2px;
} */
.dmCountdown .tile {
  position: relative;
  line-height: normal;
  flex: 1;
}
.number {
  font-size: 45px;
  color: rgba(147, 38, 235, 1);
  background-color: rgba(255, 255, 255, 0.81);
  background-image: initial;
  -webkit-border-radius: 50%;
}
.dmCountdown .label,
.dmCountdown .number {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 30px 12px;
}
.label{
  padding-top: 10px !important;
  font-weight: 500;
  font-size: 16px;
}
.divider.visible {
  visibility: hidden !important;
}
.dmCountdown .label-tile {
  position: relative;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  height: 100%;
}
.product_list {
  display: flex;
  justify-content: center;
  gap: 15px;
  row-gap: 20px;
}
.email {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.product_heading {
  text-align: center;
  padding: 1rem 20px 3rem 28px;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .imageWidget {
  max-width: 150px;
  }
  .store_links{
  gap: 10px;

  }
  .commingSoonHeading {
    font-size: 2rem;
  }
  .para{
    font-size: 16px;
  }
  .number {
    font-size: 26px;
  }
  .dmCountdown .label,
.dmCountdown .number {
  padding: 22px 10px;

}
}